.container-principal-nex {
     height: 100%;
     width: 100%;
     justify-self: center;

    align-items: center;
    justify-content: center;

     border: 1px solid black;
     background-color: whitesmoke;

     overflow: hidden;

     margin: 0;
     padding: 0;
}

.coluna {
     display: flex;
     flex-direction: column;
}

.linha {
     display: flex;
     flex-direction: row;
}

/*Estilos Aumento atributo*/

.container-aumento-atributo {
     width: 70%;
     display: grid;
     grid-template-columns: repeat(2,1fr);


     padding-left: 20px;
     padding-right: 20px;

     place-content: center;

}

.container-exibe-atributos {
     grid-column: 1;
     grid-row: 2;

     transform: scale(0.8);
     /* Não aletar o tamanho deste container com width e height a menos que saiba oque está fazendo. ExibeAtributos tem um tamanho fixo, use o scale */

}

.container-r-aumento-atributo {
     grid-row: 2;
     grid-column: 2;

     place-items: center;

     justify-content: space-between;
     height: 80%;
}

.container-botoes-atributo {
     justify-content: space-around;
     width: 100%;
     height: 50%;
     gap: 20px;
}

.botao-atributo {
     width: 60%;
     place-self: center;
     height: 75px;
     
     border-radius: 10px;
     font-size: 20px;
}

.botao-atributo:disabled {
     opacity: 1;
     border: 1px solid purple;
     color: black;
     height: 100px;
     width: 90%;


}

/*Estilos Poder Classe*/

.container-tela-poderes { 
     width: 80%;
     height: 80%;

     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;

     display: grid;

     grid-template-rows: 1fr 3fr 1fr;

     gap: 5px;
     place-items: center ;
}

.poder-classe input{
     height: 60%;
     width: 60%;

     grid-column: 2;
}

.dados-poder-classe {
     justify-self: start;

     width: 100%;
     height: 70%;
}

 .dados-poder-classe p {
     margin: 0;
     padding: 10px;
 }

.poder-classe {
     height: 100px;
     min-width: 250px;
     border: 2px solid black;
     border-radius: 10px;

     place-items: center;
     padding-left: 10px;
     padding-right: 10px;

     display: grid;
     grid-template-columns: 4fr 1fr;

     text-align: start;
}

.container-poderes {
     width: 800px;
     height: 100%;
     gap: 20px;

     overflow-x: scroll;

     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: repeat(15,1fr);

     grid-auto-flow: column;

     place-items: center;
}

/* */

.container-maior {
     place-items: center;
}

.container-menor-versatilidade {
     background-color: gray;
     padding: 20px;
     border-radius: 10px;
}

.container-versatilidade {
     display: grid;

     place-items: center;

     height: 80%;
     width: 70%;


     grid-template-rows:  1fr  3fr 2fr;
}

.container-botoes-versatilidade {
     width: 75%;
     justify-content: space-evenly;

}

.botao-versatilidade {
     width: 200px;
     height: 50px;

     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     font-size: 16px;

     border: 1px solid black;
     border-bottom: 0;

}

.botao-versatilidade:disabled {
     background-color: gray;
     color: white;
     cursor: default;

     transform: none;

}

.botao-versatilidade:hover {
     transform: scale(1);
     border: 2px solid black;
     border-bottom: 0;
     background-color: darkgray;
     color: white;
}

.container-escolhido-outrolado {
     background-color: white;
}