body {
     overflow: auto;
     overflow-x: hidden;
}

.corpo {
     /* background-image: url(../../assets/imagens/fundos/fundo-morte.png); */
     
     background-color: #DDCEAF;


     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;



     overflow: scroll; 
     overflow-x: hidden;
     height: auto;  
     width: 100%;

     display: grid;
     grid-template-columns: repeat(2,1fr);
     justify-content: space-around;
     place-items: center;

}

.container-pericias,
.container-ataque-ritual,
.container-itens,
.container-ataques-itens {
     display: flex;
     flex-direction: column;
     position: relative;
     width: 95%;
}

.container-pericias {
          gap: 5px;
     height: 700px;
}

.container-ataques-itens {
     gap: 5px;
}


.container-ataque-ritual,
.container-itens {
     gap: 0;
     height: 350px;
     width: 90%;

     
}

.botao-ataque-ritual {
     height: 50px;
     width: 20%;
     font-size: 16px;

     border-top-left-radius: 10px;
     border-top-right-radius: 10px;

     background-color: #322917;
     color: snow;
}

.botao-ataque-ritual:disabled {
     background-color: #eec36b;
     color: black;
     font-weight: 800;
     font-size: 26px;
     opacity: 0.9;
}

.container-botao-atk-ritual {
     width: 100%;
     display: flex;
}

.titulo-inventario {
     font-size: 24px;
     width: 100%;
     text-align: center;
}

.container-triplo-status {
     display: flex;
     width: 600px;
     height: 150px;

     border-radius: 10px;
     justify-content: space-evenly;

     background-color: whitesmoke;
     border-radius: 10px;
}

.container-status-info-persona {

     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

      gap: 10px;
     width: 600px;
}

.botoes-header-ficha {
     display: flex;
     flex-direction: row;
     gap: 10px;
}