body {
     margin: 0 0 0 0;
     background-image: url(../../assets/imagens/fundos/FundoLoginCadastro.png);
      background-size: cover;
     background-position: center;

}

.container-grid {
     display: grid;
     margin: 0;
     min-height: 100vh;
     min-width: 100vw;


     grid-template-columns: 1fr 4fr;
     grid-template-rows: 1fr 4fr;


}


nav {
     background-color: #6E1F1F;

     position: relative;

     grid-column: 1;
     grid-row: 1/-1;
     padding: 20px;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}

header {
     background-image: url(../../assets/imagens/fundos/fundo-sangue.png);
      background-size: cover;
     background-position: center;

     height: 15vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     grid-column: 2;

     color: whitesmoke;
}

main {
     grid-column: 2;
     grid-row: 2;
     width: 100%;
     overflow-y: scroll;
}


.container-campanhas {
     padding: 10px;
     gap: 50px;
     width: 90%;
     height: 100%;
     
     display: flex;

}

#adicionar-campanha {
     grid-column: 1;
}

.container-botao-campanha {
     width: 200px;
     height: 250px;
     
     
     border: 2px solid black;
     background-color: snow;
     border-radius: 10px;
     
     display: flex;
     flex-direction: column;
     position: relative;
}
#adicionar{
     background-color: rgb(187, 187, 187);
}

.container-botao-campanha button {
     width: 25px;
     height: 25px;
     border-radius: 15px;

}
.container-botao-campanha .conatainer-botoes {
     display: flex;
     flex-direction: row;
     position: absolute;
     right: 5%;
     top: 5%;
     gap: 5px;

}

.container-botao-campanha #editar {
     background-color: beige;
}

.container-botao-campanha #apagar {
     background-color: crimson;
}

.nome-campanha {
     position: absolute;
     bottom: 5%;
     left: 5%;
     color: crimson;
}

.botao-aba-nav {
     height: 50px;
     width: 200px;
     border-radius: 10px;
     border: 0px solid transparent;
     font-size: 20px;
     background-color: transparent;
     color: whitesmoke;
}

.botao-aba-nav:hover {
     background-color: #ED191C;
     font-size: 25px;
     transition: all 0.3s ease;
     cursor: pointer;
}

.container-botoes-laterais {
     position: absolute;
     top: 20vh;

     display: flex;
     flex-direction: column;
     gap: 50px;

}


.container-botao-perfil {
     color: whitesmoke;
     font-size: 18px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     position: absolute;
     bottom: 10%;
}


.foto-perfil {
     width: 50px;
     height: 50px;
     border-radius: 25px;
     border: 1px solid black;
}

