.corpo {
     margin: 0;
     background-image: url(../../assets/imagens/fundos/FundoLoginCadastro.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

     display: grid;
     min-height: 100vh;
     width: 100vw;

     /* Definições de colunas e linhas: 
        Coluna 1 (Nav): largura fixa ideal para o menu (ex: 260px) 
        Linha 1 (Header): tamanho automático baseado no conteúdo para sumir com o bloco gigante antigo */
     grid-template-columns: 260px 1fr;
     grid-template-rows: auto 1fr; 
}

header {
     grid-column: 2;
     grid-row: 1;
     width: 100%;
     display:none;
}

.latertal {
     grid-column: 1;
     grid-row: 1 / span 2;
     height: 100%;
}

main {
     grid-column: 2;
     grid-row: 2;
     width: 100%;
     padding: 30px;
     box-sizing: border-box;
     overflow-y: auto; /* Troca para 'auto' para a barra só aparecer se houver muitas campanhas */
}

.container-campanhas {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(210px, max-content));
     gap: 30px; /* Espaçamento controlado entre os cards */
     width: 100%;
     height: auto;
}